.module {
  width: max-content;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  position: relative;
  margin: 2rem auto;
  padding: 3px;
  border-radius: 50px;
  background-color: var(--priceSwitcherBg);
  border: 2px solid var(--primary);
  white-space: nowrap;
  box-shadow: 0 10px 20px var(--primaryTransparant25),
    0 25px 50px var(--primaryTransparant15);
  user-select: none;
}

.button {
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border-radius: inherit;
  color: var(--txtSecondaryClr);
  font-size: clamp(0.8em, 1.5vw, 1.3em);
  font-weight: bold;
  transition: all 0.3s cubic-bezier(0, 1.02, 0.3, 1);
  cursor: pointer;
  z-index: 2;
}

.button[aria-checked='true'] {
  color: var(--txtSelectedClr);
}

.switch {
  height: calc(100% - 6px);
  position: absolute;
  opacity: 1;
  background-color: var(--primary);
  border-radius: inherit;
  transition: all 0.3s cubic-bezier(0, 1.02, 0.3, 1);
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

@media (max-width: 960px) {
  .button {
    padding: 0.5rem 0.8rem;
  }
}
