.module,
.home_title {
  text-transform: uppercase;
  line-height: 1.1;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.module {
  font-size: clamp(1.5em, 4vw, 4em);
  text-align: center;
}
.home_title {
  font-size: clamp(3em, 5vw, 6em);
  word-spacing: 999px;
}
@media (max-width: 960px) {
  .module {
    font-size: clamp(2em, 10vw, 4em);
    text-align: left;
  }
  .home_title {
    font-size: clamp(2.5em, 10vw, 5em);
  }
}
