.module {
  height: fit-content;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: clamp(1.1rem, 2vw, 1.5rem);
}
.module time {
  white-space: nowrap;
  color: var(--txt-secondary-clr);
}

.large {
  flex-basis: 100%;
}

.small {
  flex-basis: 50%;
}
