.module {
  width: clamp(200px, 20vw, 270px);
  height: clamp(190px, 20vw, 260px);
  margin-inline: auto;
}
.module path {
  fill: var(--primary);
}
.module path:nth-of-type(1) {
  fill-opacity: 0.35;
}
.module path {
  fill-opacity: 0.45;
}
@media (max-width: 960px) {
}
