.module {
  height: 136px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.airplane {
  width: clamp(150px, 15vw, 200px);
  top: 10%;
}
.babesit {
  width: clamp(100px, 12vw, 146px);
}
.pets {
  width: clamp(100px, 12vw, 146px);
}

.module path {
  fill: var(--service-icons);
}
