.module {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-block-end: 5rem;
}
.header {
  row-gap: 1rem;
  margin-block-end: 7rem;
}
.price_content {
  display: grid;
  grid-template-columns: minmax(320px, 550px) 100px minmax(320px, 550px);
  column-gap: 5rem;
}
