.module {
  grid-column: 3;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 0.5rem;
}
@media (max-width: 960px) {
  .module {
    grid-column: 1;
    grid-row: 3;
  }
}
