.module {
  height: 42px;
}
.primary_fill {
  fill: var(--primary);
}
.white_to_black {
  fill: var(--txt-primary-clr);
}
.black_to_white {
  fill: var(--bg);
}
@media (max-width: 960px) {
  .module {
    height: 28px;
  }
}
