.module {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.header {
  row-gap: 1rem;
  margin-block-end: 7rem;
}
.services_content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: clamp(3rem, 4vw, 5rem);
  justify-items: center;
}
