.module {
  font-weight: bold;
  white-space: nowrap;
  color: var(--txt-primary-clr);
}

.small {
  font-size: clamp(2.5rem, 4.2vw, 4rem);
  text-shadow: 2px 2px var(--price-stretch-primary),
    -2px -2px var(--price-stretch-secondary);
}
.large {
  font-size: clamp(4rem, 8vw, 6.5rem);
  margin-inline: auto;
  text-shadow: 4px 4px var(--price-stretch-primary),
    -4px -4px var(--price-stretch-secondary);
}

@media (max-width: 960px) {
  .small {
    font-size: clamp(2.5rem, 10vw, 4rem);
  }
  .large {
    font-size: clamp(4rem, 16vw, 6.5rem);
  }
}
