.module {
  font-size: 5rem;
  font-weight: bold;
  white-space: nowrap;
  color: var(--txtPrimaryClr);
}

.small {
  font-size: 4rem;
  text-shadow: 2px 2px var(--price-stretch-primary),
    -2px -2px var(--price-stretch-secondary);
}
.large {
  font-size: 6.5rem;
  margin-inline: auto;
  text-shadow: 4px 4px var(--price-stretch-primary),
    -4px -4px var(--price-stretch-secondary);
}
