.module {
  padding-block-start: 1.5rem;
  position: relative;
  font-size: clamp(4rem, 6vw, 6rem);
  font-weight: bold;
  text-shadow: 4px 4px var(--price-stretch-primary),
    -4px -4px var(--price-stretch-secondary);
}
.module:nth-of-type(1) {
  margin-block-start: 1.5rem;
}
.module::after {
  content: attr(data-label);
  position: absolute;
  top: 0.8rem;
  left: -2rem;
  font-size: clamp(1rem, 1vw, 1.2rem);
  color: var(--primary);
  font-weight: 400;
  text-shadow: none;
}
@media (max-width: 960px) {
  .module {
    font-size: clamp(4rem, 12vw, 6rem);
  }
  .module::after {
    font-size: clamp(1rem, 3vw, 1.2rem);
  }
}
