.right_block {
  display: flex;
  max-height: 500px;
  flex-direction: column;
  flex: 0 1 60%;
  position: relative;
}
.insert_block {
  display: none;
  max-height: 500px;
  flex-direction: column;
  flex: 0 1 60%;
  position: relative;
}
.left_block {
  display: flex;
  flex-direction: column;
  flex: 0 1 40%;
  row-gap: 1.5rem;
  position: relative;
}
.taxi_text {
  position: absolute;
  top: -70%;
  left: -150px;
  color: var(--txt-taxi-clr);
  font-size: clamp(30em, 45vw, 50em);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  z-index: -1;
}

@media (max-width: 960px) {
  .right_block {
    display: none;
  }
  .insert_block {
    max-height: 300px;
    display: flex;
    margin-block: 1rem;
  }
  .left_block {
    max-width: max-content;
    flex: 0 1 100%;
    margin-inline: auto;
  }
  .taxi_text {
    display: none;
  }
}
