.right_block {
  display: flex;
  max-height: 500px;
  flex-direction: column;
  flex: 0 1 60%;
  position: relative;
}
.insert_block {
  display: none;
  max-height: 500px;
  flex-direction: column;
  flex: 0 1 60%;
  position: relative;
}
.left_block {
  display: flex;
  flex-direction: column;
  flex: 0 1 40%;
  row-gap: 1.5rem;
  position: relative;
}
.taxi_text {
  position: absolute;
  top: -70%;
  left: -150px;
  color: var(--txt-taxi-clr);
  font-size: clamp(30em, 45vw, 50em);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  z-index: -1;
}

.scroll_down {
  width: 22px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-radius: 20px;
  border: 2px solid var(--primary);
  transform: translateX(-50%);
}
.scroll_down::after {
  content: '';
  width: 12px;
  aspect-ratio: 1 / 1;
  position: absolute;
  bottom: 4px;
  left: 3px;
  border-radius: inherit;
  background-color: var(--primary);
  animation: scroll 2s ease infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
  }
  99.99% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 960px) {
  .right_block {
    display: none;
  }
  .insert_block {
    max-height: 300px;
    display: flex;
    margin-block: 1rem;
  }
  .left_block {
    max-width: max-content;
    flex: 0 1 100%;
    margin-inline: auto;
  }
  .taxi_text {
    display: none;
  }
}

@media (max-width: 1180px), (max-height: 888px) {
  .scroll_down {
    display: none;
  }
}
