@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
:root {
  --primary: hsl(315, 100%, 70%);
  --secondary: hsl(251, 35%, 56%);

  --gradient: linear-gradient(to right, var(--primary), var(--secondary));

  --theme-button-width-height: 30px;
  --lang-button-height-width: 3.125rem;
  --lang-button-space: 0.5rem;
}
html[data-theme='light'] {
  --bg: hsl(0, 0%, 96%);
  --txtPrimaryClr: hsl(75, 12%, 7%);
  --txtSecondaryClr: hsl(0, 0%, 32%);
  --txtSelectedLang: hsl(75, 12%, 7%);
  --txtTaxiClr: hsl(0, 9%, 94%);

  --primaryTransparant25: hsla(315, 100%, 70%, 0.25);
  --primaryTransparant15: hsla(315, 100%, 70%, 0.15);
  --darkShadowTransparant15: hsla(0, 0, 0, 0.15);
}
html[data-theme='dark'] {
  --bg: hsl(76, 13%, 17%);
  --txtPrimaryClr: hsl(0, 0%, 96%);
  --txtSecondaryClr: hsl(0, 0%, 75%);
  --txtSelectedLang: hsl(75, 12%, 7%);
  --txtTaxiClr: hsl(75, 11%, 21%);

  --primaryTransparant25: hsla(315, 100%, 70%, 0.15);
  --primaryTransparant15: hsla(315, 100%, 70%, 0.15);
  --darkShadowTransparant15: hsla(0, 0, 0, 0.15);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: none;
}
html {
  transition: all 0.3s ease-in-out;
}
html,
body,
#__next {
  height: 100%;
}
body {
  max-width: 1920px;
  min-height: 100vh;
  position: relative;
  padding: 2rem 2.5rem;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
a,
li {
  font-family: 'Roboto';
  font-weight: bold;
}

.main-title {
  font-size: 6em;
  line-height: 1.1;
}
.title {
  font-size: 2em;
}

p,
span {
  font-family: 'Roboto';
  color: var(--txtSecondaryClr);
}
.description {
  font-size: 1.5em;
  line-height: 1.3;
}
.paragraph {
  font-size: 1.125em;
  line-height: 1.4;
}
main {
  width: 100%;
  margin-inline: auto;
}
@media (max-width: 960px) {
  body {
    padding: 1rem 1rem;
  }
  main {
    margin-block-start: 5rem;
  }
}
