@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
:root {
  --primary: hsl(315, 100%, 70%);
  --secondary: hsl(251, 35%, 56%);
  --primary-value: 315 100% 70%;
  --secondary-value: 251 35% 56%;

  --gradient: linear-gradient(to right, var(--primary), var(--secondary));

  --theme-button-width-height: 30px;
  --lang-button-height-width: 3.125rem;
  --lang-button-space: 0.5rem;
}
html[data-theme='light'] {
  --bg: hsl(0, 0%, 96%);
  --txt-primary-clr: hsl(75, 12%, 7%);
  --txt-secondary-clr: hsl(0, 0%, 32%);
  --txt-taxi-clr: hsl(0, 9%, 94%);
  --price-switcher-bg: hsl(0, 0%, 100%);
  --service-icons: hsl(0, 0%, 32%);

  --primary-transparant-25: hsla(315, 100%, 70%, 0.25);
  --primary-transparant-15: hsla(315, 100%, 70%, 0.15);
  --dark-shadow-transparant-25: hsla(0, 0%, 0%, 0.15);
  --dark-shadow-transparant-15: hsla(0, 0%, 78%, 0.15);
  --price-stretch-primary: hsla(var(--primary-value) / 0.3);
  --price-stretch-secondary: hsla(var(--secondary-value) / 0.3);
}
html[data-theme='dark'] {
  --bg: hsl(76, 13%, 17%);
  --txt-primary-clr: hsl(0, 0%, 96%);
  --txt-secondary-clr: hsl(0, 0%, 75%);
  --txt-selected-clr: hsl(0, 0%, 100%);
  --txt-taxi-clr: hsl(75, 11%, 21%);
  --price-switcher-bg: hsl(75, 10%, 21%);
  --service-icons: hsl(0, 0%, 96%);

  --primary-transparant-25: hsla(315, 100%, 70%, 0.1);
  --primary-transparant-15: hsla(315, 100%, 70%, 0.05);
  --dark-shadow-transparant-15: #00000026;
  --price-stretch-primary: hsla(var(--primary-value) / 0.5);
  --price-stretch-secondary: hsla(var(--secondary-value) / 0.5);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: none;
  transition: all 0.3s ease-in-out;
}
html {
  transition: all 0.3s ease-in-out;
}
html,
body,
#__next {
  min-height: 100%;
  position: relative;
}
body {
  max-width: 1920px;
  padding: 1.5rem 2.5rem 0rem;
  margin: 0 auto;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
a,
li,
p,
span,
button,
label,
div,
time {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
a,
li {
  font-weight: bold;
}

p,
span {
  color: var(--txt-secondary-clr);
}

main {
  width: 100%;
  display: flex;
  flex-flow: column;
  row-gap: 10rem;
  margin-inline: auto;
  position: relative;
}

@media (max-width: 960px) {
  body {
    padding: 1rem;
  }
  main {
    margin-block-start: 5rem;
  }
}

@import url('./common.css');
