.module {
  width: calc(var(--lang-button-height-width) - 0.5rem);
  height: calc(var(--lang-button-height-width) - 0.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: var(--txt-primary-clr);
  border: 2px solid var(--primary);

  background-color: var(--bg);
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: -1;
}
.module:hover {
  color: var(--bg);
  background-color: var(--primary);
}

.module:nth-of-type(1) {
  z-index: 3;
}
.module:nth-of-type(1),
.module:nth-of-type(2),
.module:nth-of-type(3) {
  opacity: 0;
  transform: translate(0) scale(0);
}
.module:nth-of-type(2) {
  transition-delay: 0.1s;
  z-index: 2;
}
.module:nth-of-type(3) {
  transition-delay: 0s;
  z-index: 1;
}

.active {
  color: var(--bg);
  background-color: var(--primary);
}
