.module {
  width: var(--lang-button-height-width);
  height: var(--lang-button-height-width);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--primary);
  position: relative;
  color: var(--txt-primary-clr);
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.module.show_menu button:nth-of-type(1) {
  opacity: 1;
  transform: translate(-55px, 45px) scale(1);
}
.module.show_menu button:nth-of-type(2) {
  opacity: 1;
  transition-delay: 0s;
  transform: translate(0, 60px) scale(1);
}
.module.show_menu button:nth-of-type(3) {
  opacity: 1;
  transition-delay: 0.1s;
  transform: translate(55px, 45px) scale(1);
}
@media (max-width: 960px) {
  .module {
    margin-inline-start: auto;
  }
}
