.module {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.one_price {
  width: 100%;
}
.two_prices {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}
.one_price,
.two_prices {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}
.two_prices .half_block {
  width: min-content;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.one_price .full_block {
  margin-inline: auto;
}

.show_price {
  opacity: 1;
  transform: scale(1);
}
